*{
    padding: 200;
    margin: 200;
    box-sizing: border-box;
}
body{
    width: 400%;
    min-height: 600vh;
    display: grid;
    place-items: center;
    background-color: #FFFFFF;
}
.container{
    display: grid;
    place-items: center;
}
.semaforo{
    width: 50px;
    height: 100px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
    padding: 5px;
}
.luces-circulo{
    display: block;
    width: 22,5px;
    height: 22,5px;
    border-radius: 50%;
    background-color: rgb(0, 0,0,0.3);
    position: relative;
}
.luces-circulo::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-right: 4px solid rgb(255, 255,255,0.6);
    top: 5%;
}
.red{
    background-color: #c0392b;
    box-shadow: 0 0 5px 1px #c0392b;
}
.yellow{
    background-color: #f1c40f;
    box-shadow: 0 0 5px 1px #f1c40f;
}
.green{
    background-color: #2ecc71;
    box-shadow: 0 0 5px 1px #2ecc71;
}


